.App {
  text-align: center;
}

body {
  font-family: 'Inter';
  
}

label {
  margin-right : 5px;
}

select {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: #425E8E;
  border-width: 2px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

progress {
  height: 2em;
  width: 20em;
}

.home-form {
  margin-top: 0px;
}

.progress-div {
  margin-top: 2em;
  padding-left: 10%;
}

.progress-parent {
  display: flex;
}

.label-div {
  position: relative;
  top: 1.25em;
  flex-grow: 1;
}

.progress-label {
  margin-left: 3em;
}


.btn-holder {
  position: fixed;
  bottom: 50px;
  right: 100px;
}
